.logo {
  width: 10rem;
}

.btn {
  width: 120px;
}

.completed {
  position: relative;
}

.completed::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  color: white;
  border-top: 1px solid #000;
  transform: translateY(-50%);
}
